<!DOCTYPE html>
<html lang="en" xmlns:th="http//thymeleaf.org">
<head>
    <meta/>
    <title>REGISTRATION</title>
</head>
<body>
<center>

    <p><b>Register</b></p>
    <form action="#" th:action="@{/register}" th:object="${userObject}" method="post">
        <p>Name<input type="text" th:field="*{name}"/></p>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</span>
        <p>Last name<input type="text" th:field="*{lastname}"/></p>
        <span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Name error</span>
        <p>Mail<input type="text" th:field="*{mail}"/></p>
        <span th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">Name error</span>
        <p>Password<input type="text" th:field="*{password}"/></p>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name error</span>
        <p><input type="submit" value="Register"/></p>

    </form>
</center>
</body>
</html>